<div class="footer-container">
  <div class="footer-title-social">
    <div class="title">
      <h1> DIEGO'S HUB </h1>
    </div>
    <div class="social">
      <a href="https://www.twitter.com/{{ site.twitter_username }}"> <img src="{{ '/assets/icons/icons8-twitter.svg' | relative_url }}" alt=""> </a>
      <a href="https://github.com/{{ site.github_username }}"> <img src="{{ '/assets/icons/icons8-github.svg' | relative_url }}" alt=""> </a>
    </div>
  </div>
  <p> E-mail: dacuevash@protonmail.com </p>
</div>
