<div class="footer-container">
  <div class="footer-title-social">
    <div class="title">
      <h2> {{ site.title }} </h2>
    </div>
    <div class="social">
      <a href="https://www.twitter.com/{{ site.twitter_username }}"> <img src="{{ '/assets/icons/icons8-twitter.svg' | relative_url }}" alt="Icon by Icons8"> </a>
      <a href="https://github.com/{{ site.github_username }}"> <img src="{{ '/assets/icons/icons8-github.svg' | relative_url }}" alt="Icon by Icons8"> </a>
      <a href="https://www.instagram.com/{{ site.instagram_username}}/"> <img src="{{ '/assets/icons/icons8-instagram.svg' | relative_url }}" alt="Icon by Icons8"> </a>
    </div>
  </div>
  <p> E-mail: {{ site.email }} </p>
</div>
