<section class="header-container">
  <nav>
    <a class="logo" href="{{ site.url }}"> <h1> {{ site.title }} </h1> </a>
    <div class="nav-links" id="navLinks">
      <i class="fas fa-window-close" onclick="hideMenu()"> </i>
      <ul>
        <!--- <li>
          <div class="dropdown">
            <button type="button" name="button" class="dropbtn">  <p> OTHER </p> </button>
            <div class="dropdown-content" id="dropdownContent">
              <a href="{{ '/philosophy-index.html' | relative_url }}"> PHILOSOPHY </a>
              <a href="{{ '/entertainment-index.html' | relative_url }}"> ENTERTAINMENT </a>
            </div>
          </div>
        </li> The "OTHER" button was supposed to be comprised of many more categories but in the end I decided against it. --->
        <li> <a href="{{ '/project_portfolio.html' | relative_url }}"> PROJECT PORTFOLIO </a> </li>
        <!--- I hope to eventually create something worthy of talking about here --->
        <li> <a href="{{ '/blog.html' | relative_url }}"> BLOG </a> </li>
        <li>
          <div class="dropdown">
            <button type="button" name="button" class="dropbtn">
              <span class="material-icons"> language </span>
            </button>
            <div class="dropdown-content" id="dropdownContent">
              <a href="{{ site.url }}{{ site.baseurl }}"> English </a>
              <a href="{{ site.url }}{{ site.baseurl-es }}"> Español </a>
			  <!--- It would be nice to have a Japanese version eventually --->
              <!--- <a href="{{ site.url }}{{ site.baseurl-jp }}"> 日本語 </a> --->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <i class="fas fa-bars" onclick="showMenu()"></i>
  </nav>
</section>

<script src="{{ 'assets/js/menuScript.js' | relative_url }}"> </script>
