<section class="header-container">
  <nav>
    <a class="logo" href="{{ site.url }}{{ site.baseurl-es }}"> <h1> {{ site.title }} </h1> </a>
    <div class="nav-links" id="navLinks">
      <i class="fas fa-window-close" onclick="hideMenu()"> </i>
      <ul>
        <li> <a href="{{ '/es/math-index.html' | relative_url }}"> MATE </a> </li>
        <li> <a href="{{ '/es/science-index.html' | relative_url }}"> CIENCIAS </a> </li>
        <li> <a href="{{ '/es/technology-index.html' | relative_url }}"> TECNOLOGÍA </a> </li>
        <li>
          <div class="dropdown">
            <button type="button" name="button" class="dropbtn">  <p> OTROS </p> </button>
            <div class="dropdown-content" id="dropdownContent">
              <a href="{{ '/es/philosophy-index.html' | relative_url }}"> FILOSOFÍA </a>
              <a href="{{ '/es/entertainment-index.html' | relative_url }}"> ENTRETENIMIENTO </a>
            </div>
          </div>
        </li>
        <!--- <li> <a href="{{ '/es/projects.html' | relative_url }}"> PROYECTOS </a> </li> --->
        <li> <a href="{{ '/es/about-me.html' | relative_url }}"> SOBRE MÍ </a> </li>
        <li>
          <div class="dropdown">
            <button type="button" name="button" class="dropbtn">
              <span class="material-icons"> language </span>
            </button>
            <div class="dropdown-content" id="dropdownContent">
              <a href="{{ site.url }}{{ site.baseurl }}"> English </a>
              <a href="{{ site.url }}{{ site.baseurl-es }}"> Español </a>
              <!--- <a href="{{ site.url }}{{ site.baseurl-jp }}"> 日本語 </a> --->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <i class="fas fa-bars" onclick="showMenu()"></i>
  </nav>
</section>

<script src="{{ 'assets/js/menuScript.js' | relative_url }}"> </script>
