<!DOCTYPE html>
<html lang="en" dir="ltr" onkeydown="hideLangMenuK(event)">
  <head>
    <!--- Although the Japanese templates/layouts are already complete, I'm still not fluent enough to
    write in Japanese, so it'll have to wait for now -->
    <!--- Include head meta --->
    {% include shared-head.html %}
    <title> {{ site.title }} </title>
  </head>
  <body>
    <header>
      <!--- Inlude header --->
      {% include header-jp.html %}
    </header>

    <!--- New section for the recent posts main page --->
    <div class="content" onclick="hideLangMenu()">

      <h1> 最近の出版物 </h1>

      <!--- Box for the recent posts --->
      <div class="recent-posts">

        <!--- There can only be up to 8 recent posts at the same time --->
        {% for post in site.categories.jp %}
          {% if post.tags[0] == 'recent' %}

              <div class="recent-post">
                <a href="{{ post.url }}"> <h2> {{ post.title }} </h2> </a>
                <p> {{ post.date | date_to_long_string }} </p>
              </div>

          {% endif %}
        {% endfor %}

      </div>

    </div>
    <footer>
      <!--- Include footer --->
      {% include footer.html %}
    </footer>

  </body>
</html>
