<!DOCTYPE html>
<html lang="en" dir="ltr" onkeydown="hideLangMenuK(event)">
  <head>
    {% include shared-head.html %}
    <title> {{ page.title }}</title>
  </head>
  <body>
    <header>
      {% include header-en.html %}
    </header>

    <div class="content-wrapper" onclick="hideLangMenu()">
      <div class="post-content">
        <h1> {{ page.title }} </h1>
        <h3> Author: {{ page. author }}</h3>
        <h4> Originally published: {{ page.date | date_to_long_string }} </h4>
        {% if page.dateUpdated %}
          <h4> Updated: {{ page.dateUpdated | date_to_long_string }} </h4>
        {% endif %}
        <br>
        {{ content }}
      </div>
    </div>

    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
